@import helper._
@import requests.TodoForm

@(todoList: Seq[models.Todo])(implicit request: RequestHeader, messages: Messages)

@main("Todo App") {
    <h1>TODO</h1>
    <div class="uk-text-right">
        <a href="/todo/create" >+新規作成</a>
    </div>
    <table>
        @for((todo, i) <- todoList.zipWithIndex) {
            <div class="card card-main uk-flex uk-flex-between uk-flex-middle">
                <div class="flex-card-left">
                    <p>@todo.content</p>
                </div>
                <div class="flex-card-right uk-flex uk-flex-between uk-flex-middle">
                    <span><button><a href="@routes.TodoController.edit(todo.id)">変更</a></button></span>
                    @form(routes.TodoController.delete(todo.id), Symbol("method") -> "POST") {
                    @CSRF.formField
                    <input type="hidden" name="_method" value="DELETE">
                    <span><button>削除</button></span>
                </div>
                }
            </div>
            <hr style="margin: 4px 0">
        }
    </table>
}