@import helper._
@import requests.TodoForm

@(todoList: Seq[models.Todo])(implicit request: RequestHeader, messages: Messages)

@main("Todo App") {
    <a href="/todo/create">新規作成</a>
    <br>
    <table>
        <thead>
        <th>No</th>
        <th>Todo</th>
        </thead>
        <tbody>
            @for((todo, i) <- todoList.zipWithIndex) {
            <tr>
                <td>@(i+1)</td>
                <td>@todo.content</td>
                <td><button><a href="@routes.TodoController.edit(todo.id)">変更</a></button></td>
                @form(routes.TodoController.delete(todo.id), Symbol("method") -> "POST") {
                    @CSRF.formField
                    <input type="hidden" name="_method" value="DELETE">
                    <td><button>削除</button></td>
                }
            </tr>
            }
        </tbody>
    </table>
}